.datepicker-analyitcs{
    width: 100px;
    color: #334D6E;
    font-size: 14px;
    border: none;
    outline-width: 0;
}
.home-background{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f1d310;
    height: 100vh;
    width: 100%;
}